{%  extends "base.html" %}
{% load staticfiles %}

{% block title %}rez.rules{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'rules/css/rules.css' %}" >
{% endblock head %}

{% block content %}
<div ng-app="rules">
    <div ng-controller="ContentController">
        <div id="left-menu" class="side-nav">
            <div id="left-menu-loader">{% include "load-spin-green.html" %}</div>
            <div class="left-menu-header">
                <div class="location-logo">
                    <span class="location-logo-before" ng-bind="logo.left.before"></span><span class="location-logo-period">.</span><span class="location-logo-after" ng-bind="logo.left.after"></span>
                </div>
            </div>
            <div id="left-menu-content">
                left menu content
            </div>
        </div>
        <div class="row">
            {% include "rules/rulesnavbar.html" %}
            <div id="content" class="container">
                <div id="content-loader">{% include "load-spin-green.html" %}</div>
                <div class="col s12">
                        <div id="page-content">
                            page content
                        </div>
                </div>
            </div>
        </div>
        <div id="rules-hidden">
            <rule-sections></rule-sections>
            <rule-traits></rule-traits>
            <rule-skills></rule-skills>
            <rule-tables></rule-tables>
        </div>
    </div>
</div>
{% endblock content %}

{% block after_body %}
    <script src="{% static 'rules/js/rules.js' %}"></script>
    <script type="text/javascript" src="{% static 'rules/ng/rules-app.js' %}" ></script>
    <script type="text/javascript" src="{% static 'rules/ng/rules-sections.js' %}" ></script>
    <script type="text/javascript" src="{% static 'rules/ng/rules-skills.js' %}" ></script>
    <script type="text/javascript" src="{% static 'rules/ng/rules-traits.js' %}" ></script>
    <script type="text/javascript" src="{% static 'rules/ng/rules-tables.js' %}" ></script>
    {% block script %}
    {% endblock script %}
{% endblock after_body %}
