{% extends "rules/base.html" %}
{% load staticfiles %}
{% load rules_tags %}

{% block title %}Rules{% endblock %}

{% block body_tags %}data-spy="scroll" data-target=".scrollspy-active-rules" data-offset="135"{% endblock body_tags %}

{% block content %}
    <div id="rules-nav" class="col hide-on-med-and-down l3 scrollspy-active-rules z-depth-1">
            <ul class = "nav">
                {{ sections | child_nav_list }}
            </ul>
    </div>
    <div id="rules-text" class="col m12 l9 offset-l3 z-depth-2">
        {{ sections | section_text }}
    </div>
{% endblock content %}