{% extends "rules/base.html" %}
{% load staticfiles %}
{% load rules_tags %}

{% block title %}Rules{% endblock %}

{% block left-menu-header-parent %}rules{% endblock left-menu-header-parent %}
{% block left-menu-header-after %}sections{% endblock left-menu-header-after %}

{% block left-menu-content %}
    <div id="bookmarks-menu">
        <ul>
            {{ sections | section_bookmark_list }}
        </ul>
    </div>
{% endblock left-menu-content %}

{% block page-content %}
    <div id="rules-text">
        {{ sections | section_text:skill_context}}
    </div>
{% endblock page-content %}

{% block script %}
    <script>
        setActiveLink("rules");
    </script>
{% endblock script %}