<a id="{{ section.topParent }}_{{ section.slug }}-a" href="#{{ section.topParent }}_{{ section.slug }}" class="section-bookmark-link section-bookmark-{{ section.type }} section-bookmark-{{ section.tier }}" ng-if="section.title">
    {{ section.title }}
</a>
<div class="left-menu-reveal closed" ng-if="section.tier==1"><i class="material-icons">keyboard_arrow_down</i></div>
<div class="left-menu-ul-wrapper" id="{{ section.topParent }}_{{ section.slug }}-ul" ng-if="section.tier==1">
    <ul>
        <li ng-repeat="section in section.children" ng-include="'/static/html/rules/sections/rule-bookmark.html'"></li>
    </ul>
</div>
<ul ng-if="section.tier!=1">
    <li ng-repeat="section in section.children" ng-include="'/static/html/rules/sections/rule-bookmark.html'"></li>
</ul>
