@import "defaults";

/* BASICS, DEFAULT BEHAVIOR */
#rules-nav {
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    width: 18.1%;
    max-width: 328px;
}
// no space between top level links
#rules-nav > ul, #rules-nav li {
    margin-top: 0;
}
//for all links, do this
#rules-nav a {
    display: block;
    padding-right: 12px;
    box-sizing: border-box;
}
//for all lists, do this
#rules-nav ul {
    background-color: $text-background-color;
}
//for all line items (hold 1 link and 0-1 list)
//don't normally have any height, hide
#rules-nav li {
    max-height: 0;
    overflow: hidden;
}
//when active, show links and lists
#rules-nav li.active, #rules-nav > ul > li, #rules-nav > ul > li:hover li, #rules-nav > ul > li:focus li {
    max-height: 600px;
}
//top level links have visible overflow for margin thing
#rules-nav > ul > li {
    overflow: visible;
}
// make the default active link have border
#rules-nav li > ul > li.active > a {
    border-left: 4px solid $primary-color-dark;
}


/* ++ TRANSITIONS ++ */
#rules-nav > ul > li > ul li {
    -webkit-transition: max-height 800ms;
    transition: max-height 800ms;
}
#rules-nav a {
    -webkit-transition: all 300ms, background-color 200ms ease-out;
    transition: all 300ms, background-color 200ms ease-out;
}
#rules-nav ul {
    -webkit-transition: all 800ms;
    transition: all 800ms;
}

/* ++ TOP LEVEL LINKS ++ */
/* current top-level link */
//give shadow
#rules-nav > ul > li.active > a {
    background-color: $primary-color-dark !important;
    color: $text-color-opposite;
    margin-left: -20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
/* other top level links */
#rules-nav > ul > li > a {
    margin-left: -10px;
    color: $text-color-opposite;
    background-color: $primary-color;
}
/* top level hover embiggener */
#rules-nav > ul > li:hover > a, #rules-nav > ul > li:focus > a {
    margin-left: -40px;
    color: $text-color-opposite;
    background-color: $secondary-color;
}
#rules-nav > ul > li:hover ul{
    max-height: 600px;
}

/* ++ SUB-LISTS ++ */
/* lists in lists get additional padding */
#rules-nav li li a { padding-left: 15px; }
#rules-nav li li li a { padding-left: 30px; }
#rules-nav li li li li a { padding-left: 45px; }
#rules-nav li li li li li a { padding-left: 60px; }
/* slide transition for opening top level sub list */
#rules-nav ul > li > ul {
    max-height: 0;
    overflow: hidden;
}
#rules-nav ul > li.active > ul, #rules-nav ul > li.focus > ul {
    max-height: 600px;
}
/* make non-top-level links be smaller */
#rules-nav li ul li a {
    padding-top: 3px;
    padding-bottom: 3px;
    color: $text-color-secondary;
}
/* default hovered link */
#rules-nav li ul li a:hover, #rules-nav li ul li a:focus {
    background-color: $secondary-color-light;
}