@import 'defaults';

#rules-text {
  position: relative;
  z-index: 5;
  overflow: hidden;
  font-size: 1em;
  padding: 0 20px 20px;
  margin-bottom: calc(80vh - 64px - 30px);
  line-height: 1.2em;
}

.rule-section {
  &.tier-1 {
    padding-bottom: 30px;
    padding-top: 40px;
    >.section-title {
      font-size: 1.6em;
    }
  }
  &.tier-1:not(:first-child) {
    border-top: 1px solid $divider-color;
  }
  &:not(.tier-1){
    .section-title {
      padding-top: 20px;
      font-size: 1.2em;
    }
  }
  .section-content {
    padding-left: 10px;
  }

  //information block and example combined
  &.section-type-ex, &.section-type-i {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .section-content, .section-title {
      padding-left: 30px;
      padding-top: 0;
    }
    i {
      position: absolute;
      margin-left: -10px;
    }
    p {
      margin: 0;
    }
    p + p {
      margin-top: 10px;
    }
  }

  //example blocks
  &.section-type-ex {
    font-size: .9em;
    font-style: oblique;
    line-height: 1.2em;
    border-color: $secondary-color-light;
    i {
      color: $secondary-color;
    }
    .section-title {
      display: none;
    }
  }

  //information blocks
  &.section-type-i {
    border-color: $primary-color-light;
    i {
      color: $primary-color;
    }
    .section-title {
      margin-bottom: 5px;
    }
  }

  //tables
  .table {
    margin: 10px 20px;
    text-align: center;
    caption {
      text-transform: lowercase;
      font-weight: 300;
    }
    td, th {
      border-radius: 0;
      padding: 5px;
    }
    th {
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 400;
    }
    p, th, td {
      margin: 0;
      text-align: center;
    }
    th {
      background-color: $secondary-color;
      color: white;
    }
    tr {
      &:nth-child(odd){
        background-color: $secondary-color-light;
      }
    }
  }
  .multi-table {
    width: auto;
    display: inline-block;
    vertical-align: top;
  }
}

@media only screen and (max-width: 500px) {
    #content {
        width:100%;
        overflow: hidden;
    }
    #rules-text {
        margin-top: 0;
        width: 100%;
    }
    .section-content {
        font-size: .9em;
        padding-left: 0;
        padding-right: 0;
    }
}


