@import "defaults";

.rules-sections-left {
  display: none;
}

#rules-sections-left {
  list-style: none;
  &>.bookmark-tier-1>a {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  .section-bookmark-ex, .section-bookmark-i, .section-bookmark-s {
    display: none;
  }
  a {
    text-decoration: none;
    padding: 2px 10px;
    display: block;
    height: auto;
    line-height: normal;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    &:hover {
      background-color: $secondary-color-light;
    }
    &.active {
      border-left: 2px solid $secondary-color;
    }
  }
  ul {
    margin: 0;
    transition: all 500ms;
  }
  &>ul>li>a {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  li {
    padding-left: 0;
    padding-right: 0;
    li a { padding-left: 20px;}
    li li a { padding-left: 30px;}
    li li li a { padding-left: 40px;}
    li li li li a { padding-left: 50px;}
    &:hover {
      background-color: inherit;
    }
  }
  .left-menu-reveal {
    display: inline-block;
    position: absolute;
    right: 0;
    color: $text-color-secondary;
    cursor: pointer;
    margin-top: -25px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    &.open {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      margin-top: -33px;
    }
  }
}