@import 'defaults';

.rules-sections {
  display: none;
}

.container {
  max-width: 1400px;
}

.rule-section {
  margin-left: 5px;
  margin-left: .5vw;
  &.tier-1 {
    padding-bottom: 30px;
    padding-top: 40px;
    border-bottom: 1px solid $divider-color;
    .section-title { font-size: 1.6em;}
  }
  &:not(.tier-1){
    .section-title {
      padding-top: 20px;
    }
  }
  &.tier-2 { .section-title { font-size: 1.3em;} }
  &.tier-3 { .section-title { font-size: 1.25em;} }
  &.tier-4 { .section-title { font-size: 1.2em;} }
  &.tier-5 { .section-title { font-size: 1.15em;} }
  &.tier-6 { .section-title { font-size: 1.1em;} }
  .section-content {
    padding-left: 5px;
    padding-left: .5vw;
  }

  //subsection blocks
  &.section-type-s {
    & > .section-title {
      font-size: 1.1em;
      font-weight: 500;
      padding-top: 10px;
    }
    & + .section-type-i {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  //information block and example combined
  &.section-type-ex, &.section-type-i {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: table;
    .section-content, .section-title {
      padding-left: 15px;
      padding-top: 0;
    }
    i {
      display: table-cell;
      vertical-align: middle;
    }
    p {
      margin: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }

  //example blocks
  &.section-type-ex {
    &>.section-content {
      font-size: .9em;
      font-style: italic;
      line-height: 1.2em;
    }
    border-color: $secondary-color-light;
    &>i {
      color: $secondary-color;
    }
    .section-title {
      display: none;
    }
  }

  //information blocks
  &.section-type-i {
    border-color: $primary-color-light;
    &>i {
      color: $primary-color;
    }
    .section-title {
      margin-bottom: 5px;
      font-size: 1.1em;
      font-weight: 400;
    }
  }
}

.loaded-async {
  .preloader-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-list-container {
  .list-table {
    width: auto;
    float: right;
    margin-left: 20px;
  }
  .category-title {
    text-transform: capitalize;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .item-title {
    font-size: 1.15em;
    font-weight: 500;
    margin-top: 10px;
  }
  .item, .item-content {
    padding-left: 5px;
    padding-left: 1vw;
  }
  .item-subtitle {
    font-style: italic;
    font-size: .9em;
  }
  span.line-prefix {
    font-weight: 500;
  }
  span.line-suffix {
    font-style: italic;
    font-size: .8em;
  }
  p {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1480px){
  .rule-section {
    margin-left: .75vw;
    margin-right: .75vw;
    .section-content{
      padding-left: .75vw;
    }
    .skill-list-container {
      .skill-content, .skill {
        padding-left: .75vw;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
  .rule-section {
    margin-left: 1vw;
    margin-right: 1vw;
    .section-content{
      padding-left: 1vw;
    }
    .skill-list-container {
      .skill-content, .skill {
        padding-left: 1vw;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .rule-section {
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    .section-content{
      padding-left: 1.2vw;
    }
    .skill-list-container {
      .skill-content, .skill {
        padding-left: 1.2vw;
      }
    }
    .table{
      &.table-right-wrap {
      float: none;
      display: inline-block;
      }
    }
    .table-div {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 500px) {
    #content {
        width:100%;
        overflow: hidden;
    }
    .rules-sections {
        margin-top: 0;
        width: 100%;
    }
    .section-content {
        font-size: .9em;
        padding-left: 0;
        padding-right: 0;
    }
}


