@import "defaults";

.nav>li>a:focus {
    background-color: inherit;
}
#rules-nav {
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    width: 18.1%;
    max-width: 328px;
}
#rules-nav ul {
    background-color: $text-background-color;
}

/* ======================== */
/*        RULES NAV         */
/* ======================== */
/* ++ TRANSITIONS ++ */
#rules-nav a {
    -webkit-transition: all 300ms, background-color 200ms ease-out;
    transition: all 300ms, background-color 200ms ease-out;
    display: block;
    padding-right: 12px;
    box-sizing: border-box;
}
#rules-nav ul {
    -webkit-transition: all 800ms;
    transition: all 800ms;
}

/* ++ DEFAULTS ++ */
#rules-nav ul, #rules-nav li {
    margin: 0;
    padding: 0;
    display: block;
}
/* make the default active link have border */
#rules-nav li > ul > li.active > a {
    border-left: 4px solid $primary-color-dark;
}
/* remove space between links */
#rules-nav .nav-stacked>li+li {
    margin-top: 0;
}

/* ++ TOP LEVEL LINKS ++ */
/* current top-level link */
#rules-nav > ul > li.active > a {
    background-color: $primary-color-dark !important;
    color: $text-color-opposite;
    margin-left: -20px;
}
/* other top level links */
#rules-nav > ul > li > a {
    margin-left: -10px;
    color: $text-color-opposite;
    background-color: $primary-color;
}
/* top level hover embiggener */
 #rules-nav > ul > li:hover > a {
    margin-left: -40px;
    color: $text-color-opposite;
}
#rules-nav > ul > li:hover ul{
    max-height: 600px;
}

/* ++ SUB-LISTS ++ */
/* lists in lists get additional padding */
#rules-nav li li a { padding-left: 15px; }
#rules-nav li li li a { padding-left: 30px; }
#rules-nav li li li li a { padding-left: 45px; }
#rules-nav li li li li li a { padding-left: 60px; }
/* slide transition for opening top level sub list */
#rules-nav ul > li > ul {
    max-height: 0;
    overflow: hidden;
}
#rules-nav ul > li.active > ul, #rules-nav ul > li.focus > ul {
    max-height: 600px;
}
/* make non-top-level links be smaller */
#rules-nav li ul li a {
    padding-top: 3px;
    padding-bottom: 3px;
    color: $text-color-secondary;
}
/* default hovered link */
#rules-nav li ul li a:hover {
    background-color: $secondary-color-light;
}