@import "defaults";
@import "rules-navbar";
@import "rules-sections";
@import "rules-responsive";
@import "rules-bookmarks";
@import "rules-loaders";

#page-content, #left-menu-content {
  display: none;
}

#left-menu-content {
  list-style: none;
}

#rules-hidden {
  display: none;
}