{% extends "rules/base.html" %}
{% load staticfiles %}
{% load rules_tags %}

{% block title %}Rules{% endblock %}

{% block body_tags %}data-spy="scroll" data-target="#rules-nav" data-offset="140"{% endblock body_tags %}

{% block content %}
    <div id="rules-nav" class="col-md-3 shadow-z-1">
        <ul class = "nav nav-stacked">
            {{ sections | child_nav_list }}
        </ul>
    </div>
    <div id="rules-text" class="col-md-9 shadow-z-2">
        {% for section in sections %}
            <div id="{{section.slug}}" class="rule-section tier-{{section.tier}} type-{{section.type}}">
                <div id="{{section.slug}}-title" class="section-title">
                    {{section.title}}
                </div>
                <div id="{{section.slug}}-content" class="section-content">
                    {{section.content|safe}}
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock content %}