#mobile-nav-buttons a, #top-nav-buttons a {
  -webkit-transition: all 300ms;
  transition: all 300ms; }

#mobile-nav-buttons {
  z-index: 10;
  position: fixed;
  width: 0;
  top: 50px;
  right: 10px; }
  #mobile-nav-buttons a {
    background-color: #0288D1; }
    #mobile-nav-buttons a.active {
      background-color: #00C853; }
  #mobile-nav-buttons i {
    display: inline-block;
    vertical-align: middle; }
  #mobile-nav-buttons ul {
    float: right; }
  #mobile-nav-buttons li {
    position: relative;
    margin-top: 5px;
    opacity: 0;
    -webkit-transition: top 400ms ease, opacity 600ms;
    transition: top 400ms ease, opacity 600ms; }

nav {
  background-color: #0288D1 !important; }
  nav a:hover {
    text-decoration: none; }
    nav a:hover.brand-logo {
      text-decoration: underline; }
  nav #left-menu-button {
    margin-left: 10px;
    cursor: pointer; }
  nav #right-menu-button {
    margin-right: 10px;
    cursor: pointer;
    color: white; }
    nav #right-menu-button i {
      -webkit-transition: all 200ms;
      transition: all 200ms; }
    nav #right-menu-button.open i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  nav #menu-expand-button {
    padding-right: 10px;
    cursor: pointer; }
  nav .location-logo {
    margin-left: 10px;
    position: absolute;
    text-align: left; }
  nav #top-nav-buttons a.active {
    background-color: #00C853;
    cursor: default; }
    nav #top-nav-buttons a.active:hover {
      color: inherit; }
  nav #top-nav-buttons a:hover {
    color: rgba(0, 0, 0, 0.38); }

.location-logo {
  font-size: 30px;
  display: inline-block;
  font-weight: 300; }
  .location-logo .location-logo-period {
    color: #00C853; }
  .location-logo .location-logo-after {
    font-weight: 300; }

.left-menu-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54); }

.left-menu-content {
  margin-top: 10px; }

@media only screen and (max-width: 600px) {
  nav .location-logo {
    margin-left: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

  #left-menu .left-menu-header {
    height: 56px;
    line-height: 56px; } }
.rules-sections {
  display: none; }

.rule-section {
  margin-left: 5px;
  margin-left: .5vw; }
  .rule-section.tier-1 {
    padding-bottom: 30px;
    padding-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .rule-section.tier-1 .section-title {
      font-size: 1.6em; }
  .rule-section:not(.tier-1) .section-title {
    padding-top: 20px; }
  .rule-section.tier-2 .section-title {
    font-size: 1.3em; }
  .rule-section.tier-3 .section-title {
    font-size: 1.25em; }
  .rule-section.tier-4 .section-title {
    font-size: 1.2em; }
  .rule-section.tier-5 .section-title {
    font-size: 1.15em; }
  .rule-section.tier-6 .section-title {
    font-size: 1.1em; }
  .rule-section .section-content {
    padding-left: 5px;
    padding-left: .5vw; }
  .rule-section.section-type-s > .section-title {
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 10px; }
  .rule-section.section-type-s + .section-type-i {
    margin-top: 20px;
    margin-bottom: 20px; }
  .rule-section.section-type-ex, .rule-section.section-type-i {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: table; }
    .rule-section.section-type-ex .section-content, .rule-section.section-type-ex .section-title, .rule-section.section-type-i .section-content, .rule-section.section-type-i .section-title {
      padding-left: 15px;
      padding-top: 0; }
    .rule-section.section-type-ex i, .rule-section.section-type-i i {
      display: table-cell;
      vertical-align: middle; }
    .rule-section.section-type-ex p, .rule-section.section-type-i p {
      margin: 0; }
    .rule-section.section-type-ex p + p, .rule-section.section-type-i p + p {
      margin-top: 5px; }
  .rule-section.section-type-ex {
    border-color: #B9F6CA; }
    .rule-section.section-type-ex > .section-content {
      font-size: .9em;
      font-style: italic;
      line-height: 1.2em; }
    .rule-section.section-type-ex > i {
      color: #00C853; }
    .rule-section.section-type-ex .section-title {
      display: none; }
  .rule-section.section-type-i {
    border-color: #B3E5FC; }
    .rule-section.section-type-i > i {
      color: #03A9F4; }
    .rule-section.section-type-i .section-title {
      margin-bottom: 5px;
      font-size: 1.1em;
      font-weight: 400; }
  .rule-section .table {
    width: 95%;
    margin: 10px auto;
    text-align: center; }
    .rule-section .table caption {
      text-transform: lowercase;
      font-weight: 300; }
    .rule-section .table td, .rule-section .table th {
      border-radius: 0;
      padding: 5px; }
    .rule-section .table th {
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 400;
      text-transform: capitalize; }
    .rule-section .table p, .rule-section .table th, .rule-section .table td {
      margin: 0;
      text-align: center; }
    .rule-section .table th {
      background-color: #00C853;
      color: white; }
    .rule-section .table tr:nth-child(odd) {
      background-color: #B9F6CA; }
    .rule-section .table.col-1-left tr td:first-child, .rule-section .table.col-1-left tr th:first-child {
      text-align: left;
      padding-left: 10px; }
      .rule-section .table.col-1-left tr td:first-child p, .rule-section .table.col-1-left tr th:first-child p {
        text-align: left; }
    .rule-section .table.col-2-left tr td:nth-child(2), .rule-section .table.col-2-left tr th:nth-child(2) {
      text-align: left;
      padding-left: 10px; }
      .rule-section .table.col-2-left tr td:nth-child(2) p, .rule-section .table.col-2-left tr th:nth-child(2) p {
        text-align: left; }
    .rule-section .table.col-2-center tr td:nth-child(2), .rule-section .table.col-2-center tr th:nth-child(2) {
      text-align: center; }
      .rule-section .table.col-2-center tr td:nth-child(2) p, .rule-section .table.col-2-center tr th:nth-child(2) p {
        text-align: center; }
    .rule-section .table.multi-table {
      width: auto;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      margin-right: 10px; }
    .rule-section .table.table-right-wrap {
      width: auto;
      float: right;
      margin-left: 25px; }
    .rule-section .table.table-left-align {
      text-align: left; }
      .rule-section .table.table-left-align td, .rule-section .table.table-left-align th {
        padding-left: 10px; }
      .rule-section .table.table-left-align td, .rule-section .table.table-left-align th, .rule-section .table.table-left-align p {
        text-align: left; }
  .rule-section .multi-table-div {
    text-align: center; }

.loaded-async .preloader-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.text-list-container .list-table {
  width: auto;
  float: right;
  margin-left: 20px; }
.text-list-container .category-title {
  text-transform: capitalize;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 20px; }
.text-list-container .item-title {
  font-size: 1.15em;
  font-weight: 500;
  margin-top: 10px; }
.text-list-container .item, .text-list-container .item-content {
  padding-left: 5px;
  padding-left: 1vw; }
.text-list-container .item-subtitle {
  font-style: italic;
  font-size: .9em; }
.text-list-container span.line-prefix {
  font-weight: 500; }
.text-list-container span.line-suffix {
  font-style: italic;
  font-size: .8em; }

@media only screen and (min-width: 1000px) and (max-width: 1480px) {
  .rule-section {
    margin-left: .75vw;
    margin-right: .75vw; }
    .rule-section .section-content {
      padding-left: .75vw; }
    .rule-section .skill-list-container .skill-content, .rule-section .skill-list-container .skill {
      padding-left: .75vw; } }
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .rule-section {
    margin-left: 1vw;
    margin-right: 1vw; }
    .rule-section .section-content {
      padding-left: 1vw; }
    .rule-section .skill-list-container .skill-content, .rule-section .skill-list-container .skill {
      padding-left: 1vw; } }
@media only screen and (max-width: 600px) {
  .rule-section {
    margin-left: 1.2vw;
    margin-right: 1.2vw; }
    .rule-section .section-content {
      padding-left: 1.2vw; }
    .rule-section .skill-list-container .skill-content, .rule-section .skill-list-container .skill {
      padding-left: 1.2vw; }
    .rule-section .table.table-right-wrap {
      float: none;
      display: inline-block; }
    .rule-section .table-div {
      text-align: center; } }
@media only screen and (max-width: 500px) {
  #content {
    width: 100%;
    overflow: hidden; }

  .rules-sections {
    margin-top: 0;
    width: 100%; }

  .section-content {
    font-size: .9em;
    padding-left: 0;
    padding-right: 0; } }
#left-menu-button {
  display: block; }

@media only screen and (min-width: 1481px) {
  #left-menu, #rules-text-row, #rules-top-nav, #rules-text {
    transition: all 400ms; }

  #left-menu-button {
    display: none !important; }

  #left-menu {
    left: 0 !important; }

  .container > .col > div {
    margin-left: 240px; }

  #rules-top-nav {
    padding-left: 240px;
    overflow-x: hidden; } }
@media only screen and (min-width: 1281px) {
  .container {
    width: 85%; } }
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  .container {
    width: 93%; } }
@media only screen and (min-width: 993px) and (max-width: 1100px) {
  .container {
    width: 100%; } }
@media only screen and (max-width: 993px) {
  .row .col.s12 {
    padding-left: 0;
    padding-right: 0; }

  .container {
    margin: 0;
    width: 100%; } }
.rules-sections-left {
  display: none; }

#rules-sections-left {
  list-style: none; }
  #rules-sections-left > .bookmark-tier-1 > a {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px; }
  #rules-sections-left .section-bookmark-ex, #rules-sections-left .section-bookmark-i, #rules-sections-left .section-bookmark-s {
    display: none; }
  #rules-sections-left a {
    text-decoration: none;
    padding: 2px 10px;
    display: block;
    height: auto;
    line-height: normal;
    -webkit-transition: all 200ms;
    transition: all 200ms; }
    #rules-sections-left a:hover {
      background-color: #B9F6CA; }
    #rules-sections-left a.active {
      border-left: 2px solid #00C853; }
  #rules-sections-left ul {
    margin: 0;
    transition: all 500ms; }
  #rules-sections-left > ul > li > a {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px; }
  #rules-sections-left li {
    padding-left: 0;
    padding-right: 0; }
    #rules-sections-left li li a {
      padding-left: 20px; }
    #rules-sections-left li li li a {
      padding-left: 30px; }
    #rules-sections-left li li li li a {
      padding-left: 40px; }
    #rules-sections-left li li li li li a {
      padding-left: 50px; }
    #rules-sections-left li:hover {
      background-color: inherit; }
  #rules-sections-left .left-menu-reveal {
    display: inline-block;
    position: absolute;
    right: 0;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    margin-top: -25px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
    #rules-sections-left .left-menu-reveal.open {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      margin-top: -33px; }

#content-loader, #left-menu-loader {
  pointer-events: none;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -32px; }

#left-menu-loader {
  position: absolute;
  z-index: 999; }

#content-loader {
  position: fixed;
  z-index: 997; }

#page-content, #left-menu-content {
  display: none; }

#left-menu-content {
  list-style: none; }

#rules-hidden {
  display: none; }

/*# sourceMappingURL=rules.css.map */
