/* BASICS, DEFAULT BEHAVIOR */
#rules-nav {
  margin-top: 50px;
  position: fixed;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  width: 18.1%;
  max-width: 328px; }

#rules-nav > ul, #rules-nav li {
  margin-top: 0; }

#rules-nav a {
  display: block;
  padding-right: 12px;
  box-sizing: border-box; }

#rules-nav ul {
  background-color: white; }

#rules-nav li {
  max-height: 0;
  overflow: hidden; }

#rules-nav li.active, #rules-nav > ul > li, #rules-nav > ul > li:hover li, #rules-nav > ul > li:focus li {
  max-height: 600px; }

#rules-nav > ul > li {
  overflow: visible; }

#rules-nav li > ul > li.active > a {
  border-left: 4px solid #0288D1; }

/* ++ TRANSITIONS ++ */
#rules-nav > ul > li > ul li {
  -webkit-transition: max-height 800ms;
  transition: max-height 800ms; }

#rules-nav a {
  -webkit-transition: all 300ms, background-color 200ms ease-out;
  transition: all 300ms, background-color 200ms ease-out; }

#rules-nav ul {
  -webkit-transition: all 800ms;
  transition: all 800ms; }

/* ++ TOP LEVEL LINKS ++ */
/* current top-level link */
#rules-nav > ul > li.active > a {
  background-color: #0288D1 !important;
  color: white;
  margin-left: -20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/* other top level links */
#rules-nav > ul > li > a {
  margin-left: -10px;
  color: white;
  background-color: #03A9F4; }

/* top level hover embiggener */
#rules-nav > ul > li:hover > a, #rules-nav > ul > li:focus > a {
  margin-left: -40px;
  color: white;
  background-color: #00C853; }

#rules-nav > ul > li:hover ul {
  max-height: 600px; }

/* ++ SUB-LISTS ++ */
/* lists in lists get additional padding */
#rules-nav li li a {
  padding-left: 15px; }

#rules-nav li li li a {
  padding-left: 30px; }

#rules-nav li li li li a {
  padding-left: 45px; }

#rules-nav li li li li li a {
  padding-left: 60px; }

/* slide transition for opening top level sub list */
#rules-nav ul > li > ul {
  max-height: 0;
  overflow: hidden; }

#rules-nav ul > li.active > ul, #rules-nav ul > li.focus > ul {
  max-height: 600px; }

/* make non-top-level links be smaller */
#rules-nav li ul li a {
  padding-top: 3px;
  padding-bottom: 3px;
  color: rgba(0, 0, 0, 0.54); }

/* default hovered link */
#rules-nav li ul li a:hover, #rules-nav li ul li a:focus {
  background-color: #B9F6CA; }

#rules-text {
  position: relative;
  z-index: 5;
  overflow: hidden;
  margin-top: 20px;
  font-size: 1.2em;
  padding: 10px 20px 20px;
  line-height: 1.6em; }

.rule-section.tier-1 {
  padding-bottom: 30px; }
  .rule-section.tier-1 > .section-title {
    font-size: 1.6em; }
.rule-section.tier-1:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 50px; }
.rule-section .section-title {
  font-size: 1.2em; }
.rule-section.section-type-ex {
  background-color: #B9F6CA;
  font-size: .85em;
  font-style: oblique;
  line-height: 1em;
  padding-top: 5px;
  padding-bottom: 5px; }
  .rule-section.section-type-ex .section-title {
    display: none; }

@media only screen and (max-width: 500px) {
  #content {
    width: 100%;
    overflow: hidden; }

  #rules-text {
    margin-top: 0;
    padding-top: 20px;
    width: 100%; }

  .section-content {
    font-size: 1em;
    padding-left: 6px;
    padding-right: 6px; } }
nav a:hover {
  text-decoration: none; }
  nav a:hover.brand-logo {
    text-decoration: underline; }
nav #left-menu-button {
  margin-left: 10px;
  cursor: pointer; }
nav #resolution-logo {
  margin-left: 10px;
  position: absolute;
  text-align: left; }
nav #menu-expand-button {
  padding-right: 10px;
  cursor: pointer; }
nav #mobile-nav-buttons a {
  padding-left: 5px; }
nav #mobile-nav-buttons i {
  display: inline-block;
  vertical-align: middle;
  padding-right: 17px; }
nav #top-nav-buttons a.active {
  background-color: #00C853;
  pointer-events: none; }
nav #top-nav-buttons a:hover {
  color: rgba(0, 0, 0, 0.38); }

@media only screen and (max-width: 600px) {
  nav #resolution-logo {
    margin-left: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }
#rules-fab > a > i {
  font-size: 40px;
  -webkit-transition: all 400ms;
  transition: all 400ms; }

#rules-fab.active > a {
  background-color: #03A9F4; }
#rules-fab > a {
  background-color: #00C853; }
#rules-fab ul a {
  background-color: #0288D1; }
#rules-fab a.active {
  background-color: #00C853; }

#left-menu-button {
  display: block; }

@media only screen and (min-width: 1481px) {
  #left-menu, #rules-text-row, #rules-top-nav, #rules-text {
    transition: all 400ms; }

  #left-menu-button {
    display: none !important; }

  #left-menu {
    left: 0 !important; }

  .container > .col > div {
    margin-left: 240px; }

  #rules-top-nav {
    padding-left: 240px;
    overflow-x: hidden; } }
@media only screen and (min-width: 1281px) {
  .container {
    width: 85%; } }
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  .container {
    width: 93%; } }
@media only screen and (min-width: 993px) and (max-width: 1100px) {
  .container {
    width: 100%; } }
@media only screen and (max-width: 993px) {
  .row .col.s12 {
    padding-left: 0;
    padding-right: 0; }

  .container {
    margin: 0;
    width: 100%; } }

/*# sourceMappingURL=rules.css.map */
