$primary-color-light: #B3E5FC;
$primary-color: #03A9F4;
$primary-color-dark: #0288D1;

$secondary-color-light: #B9F6CA;
$secondary-color: #00C853;

$text-color: rgba(0,0,0,0.87);
$text-color-opposite: white;
$text-color-secondary: rgba(0,0,0,0.54);
$text-color-disabled: rgba(0,0,0,0.38);
$divider-color: rgba(0,0,0,0.12);

$text-background-color: white;
$background-color: #eee;