@import "color-scheme";

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: $background-color;
  color: $text-color;
}

@media only screen and (max-width: 900px) {
  body {
  font-size: 14px;
  }
}

nav {
  background-color: $primary-color-dark;
}