/* ======================== */
/*        RULES NAV         */
/* ======================== */
/* ++ TRANSITIONS ++ */
#rules-nav a {
    -webkit-transition: all 300ms, background-color 200ms ease-out;
    transition: all 300ms, background-color 200ms ease-out;
    margin-right: -10px;
    display: block;
}
#rules-nav ul {
    -webkit-transition: all 800ms;
    transition: all 800ms;
}

/* ++ DEFAULTS ++ */
#rules-nav ul, #rules-nav li {
    margin: 0;
    padding: 0;
    display: block;
}
/* make the default active link have border */
#rules-nav li.active > a {
    border-right: 4px solid #2196F3;
}
/* remove space between links */
#rules-nav .nav-stacked>li+li {
    margin-top: 0;
}
#rules-nav {
    z-index: 0;
    background-color: white;
    padding-left: 0;
}

/* ++ TOP LEVEL LINKS ++ */
/* current top-level link */
#rules-nav > ul > li.active > a {
    background-color: #2196F3 !important;
    color: white;
}
/* other top level links */
#rules-nav > ul > li > a {
    margin-left: -10px;
    color: white;
}
#rules-nav > ul > li:nth-child(even) > a {
    background-color:#00BFA5;
}
#rules-nav > ul > li:nth-child(odd) > a {
    background-color:#4DB6AC;
}
/* top level hover embiggener */
#rules-nav > ul > li:hover > a {
    margin-left: -40px;
    color: white;
}
#rules-nav > ul > li:hover ul {
    max-height: 300px;
}

/* ++ SUB-LISTS ++ */
/* lists in lists get additional padding */
#rules-nav li li a { padding-left: 15px; }
#rules-nav li li li a { padding-left: 30px; }
#rules-nav li li li li a { padding-left: 45px; }
#rules-nav li li li li li a { padding-left: 60px; }
/* slide transition for opening top level sub list */
#rules-nav ul > li > ul {
    max-height: 0;
    overflow: hidden;
}
#rules-nav ul > li.active > ul {
    max-height: 300px;
}
/* make non-top-level links be smaller */
#rules-nav li ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: -1px;
}
/* default hovered link */
#rules-nav li ul li a:hover {
    background: #64B5F6;
    color: rgba(0,0,0,.7);
}

.tier-1 {
    margin-top: 2em;
}
.tier-1 .section-title {
    font-size: 1.9em;
}

.tier-2 {
    padding-left: 1em;
}
.tier-2 .section-title {
    font-size: 1.7em;
}

.tier-3 {
    padding-left: 2em;
}
.tier-3 .section-title {
    font-size: 1.6em;
}

.tier-4 {
    padding-left: 3em;
}
.tier-4 .section-title {
    font-size: 1.5em;
}

.tier-5 {
    padding-left: 4em;
}
.tier-5 .section-title {
    font-size: 1.4em;
}

.tier-6 {
    padding-left: 5em;
}
.tier-6 .section-title {
    font-size: 1.3em;
}

.tier-7 {
    padding-left: 6em;
}
.tier-7 .section-title {
    font-size: 1.2em;
}

.type-n .section-title {
    font-weight: 500;
}

.type-ex .section-title {
    display: none;
}

.type-ex .section-content {
    padding-left: 0;
    font-style: italic;
}

.section-content {
    padding-left: .5em;
    font-size: 1.2em;
    margin-bottom: 1.8em;
}

#content {
    max-width: 1000px;
    margin: 75px auto;
}

#rules-nav {
    margin-top: 50px;
    float: left;
    position: fixed;
}

#rules-text {
    z-index: 100;
    margin-left: 300px;
    background-color: white;
}

.rule-section {
    line-height: 2.2em;
    margin-left: 1em;
    margin-right: 2em;
}