.active {
    background-color: #2196F3;
}
.active a {
    color: white;
}

.tier-1 {
    padding-top: 5em;
}
.tier-1 .section-title {
    font-size: 1.9em;
}

.tier-2 {
    padding-left: 1em;
}
.tier-2 .section-title {
    font-size: 1.7em;
}

.tier-3 {
    padding-left: 2em;
}
.tier-3 .section-title {
    font-size: 1.6em;
}

.tier-4 {
    padding-left: 3em;
}
.tier-4 .section-title {
    font-size: 1.5em;
}

.tier-5 {
    padding-left: 4em;
}
.tier-5 .section-title {
    font-size: 1.4em;
}

.tier-6 {
    padding-left: 5em;
}
.tier-6 .section-title {
    font-size: 1.3em;
}

.tier-7 {
    padding-left: 6em;
}
.tier-7 .section-title {
    font-size: 1.2em;
}

.type-n .section-title {
    font-weight: 500;
}

.type-ex .section-title {
    display: none;
}

.type-ex .section-content {
    padding-left: 0;
    font-style: italic;
}

.section-content {
    padding-left: .5em;
    font-size: 1.2em;
    margin-bottom: 1.8em;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}

#rules-nav {
    float: left;
    position: fixed;
}

#rules-text {
    margin-left: 300px;
    background-color: white;
}

.rule-section {
    line-height: 2.2em;
    margin-left: 1em;
    margin-right: 2em;
}